*{
    margin: 0;
    padding: 0;
    /* font-family: 'Mulish', sans-serif; */
    font-family: 'Poppins', sans-serif;
}

textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}
textarea:focus, input:focus{
    outline: none !important;
}
button:focus {outline:0;}


body{
    background-color: #F5F6FA;
}

.page-name{
    font-size: 27px;
    font-weight: 600;
}
.button-link{
    color: white;
    font-size: 16px;
    background: #5CA4A9;
    width: fit-content;
    padding: 16px 62px;
    border-radius: 7px;
    transition: all 0.10s ease-in-out;
}
.button-link:hover{
    text-decoration: none;
    color: #5CA4A9;
    background: none;
    border: 1px solid #5CA4A9;
}
.button-start{
    margin-top: 50px;
}
.games-section{
    margin-top: 50px;
}
.game-cart-buttons{
    display: flex;
    justify-content: space-between;
}
.navbar{
    background-color: #5CA4A9;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 80px;
}
.navbar-brand{
    font-size: 24px;
    font-weight: 700;
    color: white;
}
.navbar-nav{
    display: flex;
    justify-content: space-between;
}
.button-choise{
    padding: 9px 30px;
    transition: all 0.3s ease-in-out;
}
.button-choise:hover{
    border: 1px solid #5CA4A9;
    color: #5CA4A9;
}
.button-header{
    padding: 5px 20px;
    background: none;
    color: white;
    margin-right: 10px;
    background-color: #C8D9BC;
    border: 1px solid #C8D9BC;
    transition: all 0.5s ease-in-out;
}
.button-header:hover{
    color: white;
    border:1px solid white;

}
.button-delete{
    background-color: #FF6565;
    transition: all 0.3s ease-in-out;
}
.button-delete:hover{
    color: #FF6565;
    border: 1px solid #FF6565;
}
.start-sections{
    margin-top: 50px;
    width: 100%;
    height: 12vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.btn-prima{
    background-color: #5CA4A9;
    color: white;
}
.btn-prima:hover{
    border: 1px solid #5CA4A9;
    background-color: #F5F6FA;
    color: #5CA4A9;
}
.btn-prima:focus{
    border: 1px solid #5CA4A9;
    background-color: #F5F6FA;
    color: #5CA4A9;
}
.content{
    padding: 10px;
}
.title{
    color: #5CA4A9;
}
.titles-group{
    display: flex;
    justify-content: space-between;
}
.card-text{
    color: #3ab795;
    font-size: 18px;
    font-weight: 700;
}
.card-header{
    background-color: #9BC1BC;
    color: white;
    text-align: center;
}
.card{
    min-height: 20vh;
    border: 1px solid #9BC1BC;
    border-radius: 7px;
}
.form-input{
    border: 1px solid #5CA4A9;
}
.form-input:focus{
    border: 2px solid #5CA4A9;
}
.form-input::placeholder{
    color: #5CA4A9;
}

.form-select{
    width: 45%;
}
.select-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-group-button{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}
.form-button{
    width: 50%;
    margin: auto;
}
.btn-form{
    width: 60%;
}
.select-input{
    color: #5CA4A9 !important;
    border-bottom: 1px solid #5CA4A9;
}
.MuiSelect-icon{
    color: #5CA4A9 !important;
}
label.Mui-focused {
    color: #5CA4A9 !important;
  }
  .Mui-focused fieldset {
    border-color: #5CA4A9 !important;
  }
.heart {
    width: 40px;
    margin-left: 10px;
}
.div-send-message {
    display: flex;
    align-items: center;
    border: unset !important;
    outline: 0 !important;
}

.share-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn-rich{
    margin-left: 10px;
}
.MuiOutlinedInput-input{
    padding: 16px 14px;
}
.business-head-content{
    font-size: 20px;
    font-weight: 700;
}
.job{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 20px 0;
    border: 1px solid #E8E8E8;
    background-color: #9bc1bc3f;
    border-radius: 7px;
}
.name .profession{
    margin-bottom: 0 !important;
}
.flag {
    width: 30px;
    margin-left: 18px
  }
  .flags-box {
    display: flex;
    align-items: center;
  }
.data-main{
    padding: 15px;
    margin: 20px 0;
    border: 1px solid #E8E8E8;
    background-color:#9bc1bc3f;
    border-radius: 7px;
}
.button-game{
    padding: 9px 10px;
    transition: all 0.3s ease-in-out;
}
.button-game:hover{
    border: 1px solid #5CA4A9;
    color: #5CA4A9;
}
.data-item{
    margin-top: 15px;
}
.MuiFormControl-marginNormal{
    margin-top: 0px !important;
    margin-bottom: 11px !important;
}
.business-table{
    display: flex;
    justify-content: space-between;
}
.add-values-form{
    display: flex;
    flex-direction: column;
    width: 47%;
}
.business-main{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.form-group-b{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.empty-div{
    width: 45%;
    padding: 15px;
    border-radius: 7px;
    background-color: #c8d9bc73;
    display: flex;
    justify-content: center;
    align-items: center;
}
.empty-text{
    font-size: 20px;
    font-weight: 500;
}
.expenses-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.expenses-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 10px;
}
.expense-div{
    display: flex;
    justify-content: space-between;
}

p{
    margin-bottom: 0;
}
.business{
    padding: 15px;
    background-color: white;
    border-radius: 7px;
    margin-top: 40px;
}
.shares{
    margin-top: 40px;
}
.business-head-content{
    margin-bottom: 20px;
}
.marrige-div{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.children-div{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-values-form-c{
    display: flex;
    flex-direction: column;
}
.form-game{
    width: 100%;
}
.expense-title{
    font-size: 15px;
    font-weight: 500;
}
.form-rich{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.MuiCheckbox-root{
    color: #7CB3B3 !important;
}
.riches-tab{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.riches-div{
    margin-bottom: 173px;
}
.debts{
    margin-bottom: 60px;
}

.active-mobile-menu {
    max-height: 100%;
  }
  .mobile-menu-container-fixed {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;      
    padding: 20px 0px;
  }
  .mobile-menu-fixed {
    background-color: #7CB3B3;
    width: 100%;
    top: 0;
    position: relative; 
    z-index: 10000000 !important;
    box-shadow: 0px 0px 10px 0px #7CB3B3;
  }
  
  .fixed-ul-menu {
    max-height: 0;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    position: fixed;
    background-color: #7CB3B3;
    width: 100%;
  }
  .mobile-menu-fixed {
    display: none;
  }
  /* .active-fixed-mobile-menu {
    max-height: 100%;
  } */
  
  .btn-mobile-menu-div {
    position: relative;
    height: fit-content;
    width: fit-content;
    margin: auto;
  }

  .header-menu-component {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-header-menu {
    display: flex;
    align-items: center;
    position: relative;
    height: 61px;
    background-color: #262F36;
    border-bottom: 7px solid #EF5A1B;
  }
  .header-menu-ul  {
    display: flex;
  }
  .header-a-li-menu {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-right: 40px;
    transition: all 0.3s ease-in-out;
  }
  .header-a-li-menu:hover {
    color: #EF5A1B;
  }
  .header-li-menu {
    list-style: none;
  }
  .flag {
    width: 30px;
    margin-left: 18px
  }
  .flags-box {
    display: flex;
    align-items: center;
  }
  .flags-container {
    display: flex;
    align-items: center;
  }
  .mobile-menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 15px 0; 
  }
  .mobile-menu-link-a {
    text-decoration: none;
    color: black;
  }
  .hamburger-menu {
    margin-left: 30px;
  }
  .custom-mob-menu-shadow {
    box-shadow: unset !important;
  }
  .main-mobile-menu{
    position: relative;
    width: 100%;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
    background-color: white;
    z-index: 800;
  }
  .mobile-header-logo {
    height: 40px;
  }
  .right-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flags-mobile {
    width: 30px;
    margin-left: 15px;
  }
  input, button, submit{
    border: none;
  }
  .button-logout{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.23);
    padding: 5px 15px;
    font-size: 1.2rem;
    min-width: 64px;
    background-color: white!important;
    color: #7CB3B3!important;
    border: 2px solid white!important;
    border-radius: 25px!important;
    font-family: "Lato",sans-serif!important;
    padding: 8px 22px!important;
    transition: all .2s ease-in-out!important;
  }
  .button-logout-div{
    margin: auto;
  }
  .mobile-menu-item-li {
    list-style: none;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    padding: 0 0 14px;
    color: white;
  }
  .menu-mob-ntn {
    margin-bottom: 20px !important;
  }
  .mobile-button-donate {
    display: block !important;
    margin: auto !important;
    margin-top: 20px !important;
    margin-bottom: 30px !important;
  }
  .custom-padding-mobile-menu{
    z-index: 100000000000000;
  }
  .mobile-menu-link-a {
    text-decoration: none;
    color: black;
  }
  .hamburger-menu {
    margin-left: 30px;
  }
  .main-mobile-menu {
    position: relative;
    width: 100%;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
    background-color: #7CB3B3;
    z-index: 8;
  }
  .mobile-menu-item-a{
    min-height: 5vh;
  }

  @media only screen and (max-width: 800px){
    .business-table{
      display: block;
    }
    .business-main{
      width: 100%;
    }
    .empty-div{
      width: 100%;
      height: 70px;
      margin-bottom: 10px;
    }
    .expense-div{
      display: block;
    }
    .riches-div{
      margin-bottom: 0px;
    }
    .children-main-div{
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      grid-column-gap: 10px;
      column-gap: 10px;
    }
    .children-div{
      display: block;
    }
    .marital{
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
    .form-rich{
      width: 100% !important;
    }
    .select-div{
      display: block;
    }
    .form-select{
      width: 100%;
    }
    .form-button{
      width: 100%;
    }
    .h1, h1{
      font-size: 2rem;
    }
    .form-group{
      width: unset;
    }
    .pt-5, .py-5{
      padding-top: 1rem !important;
    }
  }
  @media only screen and (max-width: 550px) {
    .form-rich{
      flex-direction: column;
    }
    .main-info{
      flex-direction: column;
    }
    .expenses-row{
      grid-auto-flow: column;
    }
    .container{
      flex-wrap: unset !important; 
    }
    .job{
      display: block;
    }
    .expenses-row{
      display: block;
    }
    .children-main-div{
      display: block;
    }
    .select-div{
      display: block;
    }
    .form-select{
      width: 100%;
    }
    .marrige-div{
      display: block;
      max-width: 100vw;
    }
    .riches-tab{
      max-width: 100vw !important;
    }
  }
  @media only screen and (max-width: 1279px) {
    .desktop {
      display: none;
    }
    .mobile{
      display: block;
    }
    .mobile-menu-ul {
      max-height: 0;
      overflow: hidden;
      transition: all 1s ease-in-out;
    }
    .active-mobile-menu {
      max-height: 100%;
    }
    .mobile-menu-container-fixed {
      width: 80%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      padding: 20px 0px;
    }
    .mobile-menu-fixed{
      display: block;
      background-color: #5CA4A9;
    }
    .fixed-ul-menu {
      max-height: 0;
      transition: all 0.3s ease-in-out;
      overflow: hidden;
      position: fixed;
      background-color: #5CA4A9;
      width: 100%;
    }
    .active-fixed-mobile-menu {
      min-height: 25vh;
    }
    .navbar-nav{
      min-height: 17vh;
    }   
    .btn-mobile-menu-div {
      position: relative;
      height: fit-content;
      width: fit-content;
      margin: auto;
    }
  }
  @media only screen and (min-width: 1280px){
      .mobile {
        display: none;
      }
      
}